In [4]:
import pandas as pd
import numpy as np

data_file = pd.read_csv("/Users/guidoperez/Repositories/NumberPicks/data_files/Final_jpot_data_file.csv")

In [5]:
data_file.head(5)

  draw_date  num1  num2  num3  num4  num5  num6 day_of_week
0  10/18/24    25    31    32    34    36    44      Friday
1  03/26/24     4     5    12    16    25    35     Tuesday
2  10/15/24     3     5    13    16    28    39     Tuesday
3  03/22/24     8    13    17    31    39    41      Friday
4  10/11/24     2     9    12    29    41    46      Friday

In [7]:
sample_data = data_file[data_file["day_of_week"] == "Friday"]   # lets see if market basket analysis works
sample_data.head(10)

   draw_date  num1  num2  num3  num4  num5  num6 day_of_week
0   10/18/24    25    31    32    34    36    44      Friday
3   03/22/24     8    13    17    31    39    41      Friday
4   10/11/24     2     9    12    29    41    46      Friday
7   03/15/24     1     6    10    16    30    41      Friday
8   10/04/24    10    26    30    32    34    46      Friday
11  03/08/24     2     7     9    14    26    35      Friday
12  09/27/24    21    22    32    37    39    44      Friday
15  03/01/24    10    13    15    16    39    41      Friday
16  09/20/24     7    17    19    31    36    38      Friday
19  02/23/24     1    13    17    36    39    40      Friday

In [8]:
sample_data.describe()

             num1        num2        num3        num4        num5        num6
count  299.000000  299.000000  299.000000  299.000000  299.000000  299.000000
mean     6.254181   13.387960   20.193980   27.110368   34.297659   41.110368
std      5.418302    6.858835    7.865213    7.458916    6.618184    4.639109
min      1.000000    2.000000    5.000000    7.000000   14.000000   26.000000
25%      2.000000    8.000000   15.000000   22.000000   30.000000   39.000000
50%      4.000000   13.000000   20.000000   27.000000   36.000000   43.000000
75%      9.000000   18.000000   26.000000   33.000000   39.000000   45.000000
max     29.000000   34.000000   42.000000   43.000000   45.000000   46.000000

In [9]:
sample_data['num1'].value_counts()

2     50
1     42
3     36
4     22
10    20
6     19
7     17
5     16
8     15
9     11
12     9
15     9
11     7
14     5
16     4
13     4
17     2
18     2
21     2
27     2
29     2
19     1
25     1
26     1
Name: num1, dtype: int64

In [10]:
sample_data['num2'].value_counts()

13    22
7     21
10    21
11    16
9     16
12    15
15    15
5     14
16    13
18    13
6     13
14    12
20    12
8     11
4     11
17    11
22    10
21     7
19     6
2      5
3      5
23     4
24     4
25     4
27     4
29     3
26     2
28     2
30     2
31     2
32     1
33     1
34     1
Name: num2, dtype: int64

In [11]:
sample_data['num3'].value_counts()

22    18
15    17
26    17
19    16
17    15
18    14
21    13
16    13
24    12
23    12
14    12
9     12
12    11
25    11
11    10
30    10
32    10
6      8
20     7
27     7
31     7
34     6
8      6
13     6
10     5
28     4
33     4
7      3
37     3
29     2
35     2
36     2
41     1
5      1
38     1
42     1
Name: num3, dtype: int64

In [12]:
sample_data['num4'].value_counts()

27    20
23    17
34    16
31    16
28    16
24    15
20    15
33    14
25    14
36    13
29    13
26    13
35    11
16    11
30     8
22     8
38     8
32     8
17     7
15     6
19     6
40     6
21     5
37     5
13     4
18     4
39     4
14     3
42     3
41     2
11     2
10     2
7      1
8      1
12     1
43     1
Name: num4, dtype: int64

In [13]:
sample_data['num5'].value_counts()

37    24
40    21
39    21
36    20
38    19
34    17
43    15
30    15
41    14
35    13
32    13
31    13
26    12
42    10
44     9
27     8
29     8
28     8
33     7
21     6
24     4
23     4
19     4
20     3
18     3
45     2
17     2
25     2
22     1
14     1
Name: num5, dtype: int64

In [14]:
sample_data['num6'].value_counts()

44    49
45    41
46    37
41    27
43    23
42    22
39    17
40    16
36    12
34    10
38     9
35     6
37     6
32     5
31     4
29     4
27     3
33     3
28     3
30     1
26     1
Name: num6, dtype: int64